.router-wrapper {
  /* touch-action: none; */
}

.forward-enter {
  position: absolute !important;
  top: 0;
  width: 100%;
  transform: translateX(100%);
}

.forward-enter-active {
  touch-action: none;
  overflow: hidden;
  transform: translateX(0);
  transition: all 6000ms;
}

.forward-exit {
  position: absolute !important;
  top: 0;
  width: 100%;
  transform: translateX(0);
}

.forward-exit-active {
  touch-action: none;
  overflow: hidden;
  transform: translateX(-100%);
  transition: all 6000ms;
}

.back-enter {
  position: absolute !important;
  top: 0;
  width: 100%;
  transform: translateX(-100%);
}

.back-enter-active {
  touch-action: none;
  overflow: hidden;
  transform: translateX(0);
  transition: all 6000ms;
}

.back-exit {
  position: absolute !important;
  top: 0;
  width: 100%;
  transform: translateX(0);
}

.back-exit-active {
  touch-action: none;
  overflow: hidden;
  transform: translate(100%);
  transition: all 6000ms;
}