.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.square-wrapper {
  margin: 20px 0;
  height: 100px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: red;
}

.fade-enter {
  opacity: 0;
  transform: translateX(100%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}

.fade-exit {
  opacity: 1;
  transform: translateX(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms;
}